<?xml version="1.0"?>

<launch>

<node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster"
  args="0 0 0 0 0 0 map odom 100"/>

  <arg name="no_static_map" default="true"/>	

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

    
    <!-- observation sources located in costmap_common.yaml -->
    <rosparam file="$(find rbcar_navigation)/config/costmap_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find rbcar_navigation)/config/costmap_common.yaml" command="load" ns="local_costmap" />

    <!-- local costmap, needs size -->
    <rosparam file="$(find rbcar_navigation)/config/costmap_local.yaml" command="load" ns="local_costmap" />
    <param name="local_costmap/width" value="22.0"/>
    <param name="local_costmap/height" value="22.0"/>
	<param name="local_costmap/origin_x" value="-11"/>
	<param name="local_costmap/origin_y" value="-11"/>
        
    <!-- global costmap with laser, for odom_navigation_demo -->
    <rosparam file="$(find rbcar_navigation)/config/costmap_global_laser.yaml" command="load" ns="global_costmap"/>
    <param name="global_costmap/width" value="100.0"/>
    <param name="global_costmap/height" value="100.0"/>

	<rosparam file="$(find rbcar_navigation)/config/teb_local_planner_params.yaml" command="load" />


   <param name="base_global_planner" value="global_planner/GlobalPlanner" />
   <param name="planner_frequency" value="0.0" />
   <param name="planner_patience" value="5.0" />

   <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
   <param name="controller_frequency" value="5.0" />
   <param name="controller_patience" value="15.0" />
   <param name="clearing_rotation_allowed" value="false" /> <!-- Our carlike robot  is not able to rotate in place -->

	<remap from="cmd_vel" to="/pad_teleop/cmd_vel"/>
    <remap from="odom" to="/rbcar_robot_control/odom"/>
    <remap from="scan" to="/rbcar/laser/scan"/>
  </node>

</launch>
